@charset "utf-8";

.header-container {
  position: sticky;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--border-dark);
  box-shadow: 0 2px 12px black;
  z-index: 10;
}

.header-container .header {
  color: var(--font-color);
  font-size: 48px;
  margin: 0;
  pointer-events: none;
}

.header-container button {
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: 1px solid var(--border-dark);
  border-radius: 4px;
  margin: 0 8px;
}

.searchbox-container button:active {
  outline: 1px solid var(--font-color);
}

.searchbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin: 0 0 4px;
}

.searchbox {
  padding: 6px;
  margin: 0 12px;
  color: var(--font-color);
  background-color: var(--main-color);
  border: 1px solid var(--border-dark);
  border-radius: 4px;
  transition: all 50ms cubic-bezier(.21,.73,.72,.93);
}

.searchbox:hover {
  border: 1px solid var(--font-color);
}

.searchbox:focus {
  border: 1px solid var(--font-color);
  outline: none;
}

.scroll-container {
  margin: auto;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) var(--main-color);
}

.error {
  color: var(--font-color);
}

.create-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: right;
  align-items: center;
}

#createRelic {
  width: auto;
  background-color: var(--secondary-color);
  transition: all 50ms cubic-bezier(.21,.73,.72,.93);
  transform: none;
}

#createRelic:hover {
  background-color: var(--main-saturated);
}

#createRelic .cardTitle {
  transition: all 50ms cubic-bezier(.21,.73,.72,.93);
}

@media all and (width < 768px) {
  .create-container {
    right: 12px;
  }
}