@charset "utf-8";

.cardlist-container {
  display: flex;
  flex-flow: row wrap;
  padding: 12px;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

/*   BLUR SCREEN   */
.blurScreen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 27, 34, 0.6);
}

.error {
  color: var(--font-color);
}

.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  width: 240px;
  height: auto;
  cursor: pointer;
  border: 1px solid var(--border-dark);
  background-color: var(--secondary-color);
  border-radius: 3px;
  box-shadow: 0 1px 8px black;
  transition: 20ms cubic-bezier(.21,.73,.72,.93);
}

.card:hover {
  border: 1px solid var(--font-color);
  background-color: var(--main-saturated);
  transform: scale(1.02);
}

.cardTitle {
  width: 100%;
  margin: 0;
  color: var(--font-dark);
  transition: 20ms cubic-bezier(.21,.73,.72,.93);
}

.card:hover .cardTitle {
  color: var(--font-color);
}

.card img {
  margin: 8px 0;
}

.dropListCard {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid var(--border-dark);
}

.dropListCard > li {
  padding: 2px;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  list-style-type: none;
  /* white-space: nowrap; */
}

.card .dropRare {
  background-color: rgb(162, 151, 89);
}

.card:hover .dropRare {
  background-color: rgb(211, 196, 106);
}

.card .dropUncommon {
  background-color: rgb(123, 123, 123);
}

.card:hover .dropUncommon {
  background-color: rgb(157, 157, 157);
}

.card .dropCommon {
  background-color: rgb(136, 104, 72);
}

.card:hover .dropCommon {
  background-color: rgb(170, 121, 72);
}

@media all and (max-width: 1024px) {
  .cardlist-container {
    padding: 8px;
    gap: 8px;
  }

  .cardlist-container .card {
    width: 160px;
    padding: 6px;
    box-shadow: 0 1px 6px black;
  }

  .cardTitle {
    font-size: 20px;
  }

  .card img {
    width: 40%;
    margin: 4px 0;
  }

  .dropListCard p {
    font-size: 10px;
  }
}

@media all and (max-width: 768px) {
  .cardlist-container .card {
    width: 90px;
    padding: 4px;
  }

  .cardTitle {
    font-size: 12px;
  }

  .card img {
    width: 80%;
  }

  .dropListCard {
    display: none;
  }
}