@charset "utf-8";

:root {
  --main-color: #0d1119;
  --secondary-color: #161b22;
  --secondary-saturated: #161f28;
  --border-light: #406774;
  --border-dark: #30363d;
  --font-color: #c7d1d6;
}

.cardlist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px;
  gap: 16px;
  justify-content: center;
}

.card {
  text-align: center;
  padding: 12px;
  width: 220px;
  height: auto;
  cursor: pointer;
  border: 1px solid var(--border-dark);
  border-radius: 4px;
  background-color: var(--secondary-color);
  /* background-color: rgb(47, 61, 70); */
  box-shadow: 0 2px 10px black;
  transition: 50ms cubic-bezier(.21,.73,.72,.93);
}

.card:hover {
  border: 1px solid var(--font-color);
  background-color: var(--secondary-saturated);
  transform: scale(1.02);
}

.cardTitle {
  width: 100%;
  margin: 0 0 8px;
  color: var(--border-light);
}

.card:hover .cardTitle {
  color: var(--font-color);
}

.dropListCard {
  width: 100%;
  margin-top: 8px;
  border: 1px solid black;
}

.dropListCard h4 {
  padding: 2px;
  margin: auto;
  font-weight: 600;
}

.card .dropRare {
  background-color: rgb(162, 151, 89);
}

.card:hover .dropRare {
  background-color: rgb(245, 225, 111);
}

.card .dropUncommon {
  background-color: rgb(123, 123, 123);
}

.card:hover .dropUncommon {
  background-color: rgb(181, 181, 181);
}

.card .dropCommon {
  background-color: rgb(136, 104, 72);
}

.card:hover .dropCommon {
  background-color: rgb(212, 149, 87);
}

@media all and (max-width: 1024px) {
  .card {
    width: 120px;
    padding: 8px;
  }

  .cardTitle {
    font-size: 16px;
  }

  .card img {
    width: 40%;
  }

  .dropListCard {
    font-size: 8px;
  }
}

@media all and (max-width: 768px) {
  .card {
    width: 80px;
    padding: 4px;
  }

  .cardTitle {
    font-size: 12px;
  }

  .card img {
    width: 80%;
  }

  .dropListCard {
    display: none;
  }
}