@charset "utf-8";

:root {
  --main-color: #0d1119;
  --main-saturated: #141c23;
  --secondary-color: #161b22;
  --tertiary-color: #14181f;
  --border-dark: #30363d;
  --border-light: #314952;
  --font-dark: #437180;
  --font-color: #c7d1d6;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background-color: var(--main-color);
}

button {
  cursor: pointer;
}

* ~ button:hover {
  background-color: var(--border-light);
  border: 1px solid var(--border-dark);
}

* ~ button:active {
  border: 1px solid var(--font-color);
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) var(--main-color);
  /* background-image: linear-gradient(105deg, rgb(12, 17, 30), rgb(37, 44, 59)); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  text-align: center;
}

body::-webkit-scrollbar {
  position: relative;
  width: 4px;               /* width of the entire scrollbar */
  overflow: overlay;
}

body::-webkit-scrollbar-track {
  background: var(--secondary-color)
}

body::-webkit-scrollbar-thumb {
  background-color: var(--border-dark);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* border: 3px solid var(--secondary-color);   creates padding around scroll thumb */
}

