@charset "utf-8";

:root {
  --main-color: #0d1119;
  --secondary-color: #161b22;
  --secondary-saturated: #161f28;
  --border-light: #406774;
  --border-dark: #30363d;
  --font-color: #c7d1d6;
}

.window {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  width: 420px;
  height: auto;
  background-color: black;
  border: 1px solid var(--border-light);
  border-radius: 4px;
  box-shadow: 0 2px 10px black;
  box-sizing: border-box;
}

.window:hover {
  border: 1px solid var(--font-color);
}

.window button:active {
  border: 1px solid var(--font-color);
}

.windowInner {
  position: relative;
  justify-content: center;
  border-radius: 4px;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  padding: 16px;
  color: var(--font-color);
  background-color: var(--secondary-saturated);
  /* background-image: linear-gradient(105deg, rgb(19, 26, 42), rgb(26, 51, 71)); */
}

.dragBar {
  display: flex;
  width: 100% + 16px;
  height: 72px;
  margin: -16px -16px 0 -16px;
  cursor: move;
}

.windowInner .relicTitle {
  width: 100%;
  margin: auto;
  text-align: center;
}

.windowInner button {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
}

.windowInner .closeBtn {
  position: absolute;
  width: 54px;
  height: 24px;
  font-size: 16px;
  top: 16px;
  right: 16px;
}




/*    Drop List Window    */

.topContainer {
  width: auto;
  left: 0;
  right: 0;
  box-shadow: 0 5px 10px rgb(13, 25, 35);
}

.topContainer div {
  margin: 0;
  display: block;
  text-align: center;
  justify-items: center;
  border: 1px solid black;
  border-bottom: none;
  color: black;
  width: 100%;
  height: auto;
  font-weight: 600;
}

.topContainer div:last-child {
  border-bottom: 1px solid black;
}

.topContainer p {
  margin: 12px 0;
  font-size: 20px;
  display: inline-block;
}

.topContainer button {
  position: relative;
  top: 4px;
  width: 42px;
  height: 42px;
  font-size: 18px;
  font-weight: 600;
  transition: transform 50ms cubic-bezier(.21,.73,.72,.93);
}

.topContainer .btnMinus {
  float: left;
  left: 4px;
}

.topContainer .btnPlus {
  float: right;
  right: 4px;
}

.topContainer .dropRare {
  background-color: rgb(245, 225, 111);
}

.topContainer .dropUncommon {
  background-color: rgb(181, 181, 181);
}

.topContainer .dropCommon {
  background-color: rgb(212, 149, 87);
}


/*    Mid Container    */

.midContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  margin: 12px auto;
  width: 100%;
  height: auto;
}

.midContainer div {
  display: flex;
  width: 50%;
}

.midContainer div button {
  margin: auto;
  width: 60px;
  height: 24px;
  font-size: 16px;
}


.midContainer div h5 {
  margin: auto;
  width: 33%;
}


/*    Bottom Window    */

.botContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  border-collapse: collapse;
}

.botContainer div {
  width: 50%;
}

.botContainer h5 {
  width: 100%;
  border-bottom: 1px solid var(--border-dark);
  margin: auto;
}

.botContainer h5:last-child {
  border: none;
}

.dataWindow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid var(--border-dark);
}

.dataWindow h5 {
  text-align: right;
  padding: 6px 8px;
}


/*    Calc Window    */

.calcWindow {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
}

.calcWindow div {
  width: 33%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid var(--border-dark);
  border-left: none;
}

.calcWindow h5 {
  text-align: center;
  padding: 6px 0px;
}


@media all and (width < 1024px) {
  .window {
    width: 240px;
  }

  .windowInner {
    width: 100%;
    padding: 8px;
  }

  .windowInner .closeBtn {
    position: absolute;
    width: auto;
    height: 20px;
    font-size: 12px;
    top: 6px;
    right: 6px;
  }

  .dragBar {
    height: 40px;
  }

  .windowInner .relicTitle {
    padding-top: 4px;
    font-size: 20px;
  }

  .topContainer div {
    height: 24px;
    border-collapse: collapse;
  }

  .topContainer p {
    font-size: 12px;
    margin: auto;
  }

  .topContainer button {
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    font-weight: 400;
    transition: transform 50ms cubic-bezier(.21,.73,.72,.93);
  }

  .topContainer .btnPlus {
    right: 2px;
  }

  .topContainer .btnMinus {
    left: 2px;
  }

  .midContainer {
    margin: 6px auto;
    font-size: 10px;
  }

  .midContainer div button {
    margin: auto;
    width: auto;
    height: 18px;
    font-size: 10px;
  }

  .botContainer {
    font-size: 10px;
  }

  .botContainer div div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .botContainer h5 {
    width: 100%;
    padding: 4px;
  }

  .calcWindow div {
    width: 33%;
  }

  .calcWindow div h5 {
    text-align: center;
  }

  .calcWindow div:last-child h5 {
    padding: 4px 0;
  }
  
}